<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
    </layout>
  </appender>

  <appender name="LOG_LOGICAL_PLAN_STRING"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/catalina/8082/logs/plan.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

  <appender name="LOG_PARAMETERS"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/catalina/8082/logs/parameters.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>

  <appender name="LOG_INACCURATE_CACHE"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/catalina/8082/logs/inaccurate.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %m%n" />
    </layout>
  </appender>

  <logger name="com.xingcloud.webinterface.exec.AbstractQueueQueryTask">
    <level value="info" />
    <appender-ref ref="LOG_LOGICAL_PLAN_STRING" />
  </logger>

  <logger name="com.xingcloud.log.ContentLogger">
    <level value="info" />
    <appender-ref ref="LOG_PARAMETERS" />
  </logger>

  <logger name="com.xingcloud.log.InaccurateCacheLogger">
    <level value="info" />
    <appender-ref ref="LOG_INACCURATE_CACHE" />
  </logger>

  <logger name="com.xingcloud.webinterface">
    <level value="debug" />
    <appender-ref ref="CONSOLE" />
  </logger>

</log4j:configuration>
